body {
  background-image: url(design/desktop-thank-you-state.jpg);
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
  background-position: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
